<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>udea.drai.intercambio.control.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estudianteServlet</servlet-name>
        <servlet-class>udea.drai.intercambio.control.estudianteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarEstudianteServlet</servlet-name>
        <servlet-class>udea.drai.intercambio.control.listarEstudianteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarInstitucionServlet</servlet-name>
        <servlet-class>udea.drai.intercambio.control.IngresarInstitucionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarInstitucionesServlet</servlet-name>
        <servlet-class>udea.drai.intercambio.control.ListarInstitucionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarInstitucionServlet</servlet-name>
        <servlet-class>udea.drai.intercambio.control.EliminarInstitucionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estudianteServlet</servlet-name>
        <url-pattern>/estudianteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarEstudianteServlet</servlet-name>
        <url-pattern>/listarEstudianteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarInstitucionServlet</servlet-name>
        <url-pattern>/IngresarInstitucionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarInstitucionesServlet</servlet-name>
        <url-pattern>/ListarInstitucionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarInstitucionServlet</servlet-name>
        <url-pattern>/EliminarInstitucionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
